textarea {
	height: 70px;
	resize: none;
}

h2{
	color: #476b6b;
}

.validation {
	color: #ff0000;
	display: none;
}

.form-title{
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	padding-top: 20px;
}

.form-item {
	float: left;
	width: 100%;
	margin-top: 5px;
	font-family: Verdana;
	font-size: 14px;
}

.form-item-sm {
	height: 50px;
}

.form-item-lg {
	height: 100px;
}

.form-item-courses {
	height: 105px;
}

.label {
	width: 200px;
	text-align: right;
	float: left;
}

.input {
	width: 300px;
	padding-left: 20px;
	float: left;
	font-family: Verdana;
	font-size: 14px;
}
.input-text {
	width: 298px;
	border-width: 1px;
	border-color: #476b6b;
	background-color: #ffffff;
	border-style: solid;
	min-height: 10px;
}

#btnSubmit {
	border: #476b6b;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	background-color: #ffffff;
	color: #000000;
	height: 20px;
	width: 100px;
	cursor: pointer;
}

#btnSubmit:hover{
	background-color: #476b6b;
}

@media screen and (max-width: 1100px) {

  	.form-item-sm {
		height: 60px;
	}

	.form-item-lg {
		height: 110px;
	}

	.form-item-courses {
		height: 125px;
	}

	.form-title {
		padding-left: 200px;
		text-align: left;
	}
}


@media screen and (max-width: 548px) {
	
	.form-title {
		padding-left: 20px;
	}

	.label {
		padding-left: 20px;
		text-align: left;
	}
}
