/* Body
--------------------------------------------- */
body {
	font-family: Verdana;
	font-size: 14px;
	line-height:1.42857143;
	color: #000000;
	background-color: #f0ead6;
	word-wrap:break-word !important;
}

/* Clearfix
--------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Containers
--------------------------------------------- */
#main-container {
	background-color: #ffffff;
}

#container-content {
	width: 100%;
	float: left;
	background-color: #f0ead6;
}

#content-center {
	float: left;
	min-height: 500px;

}

.center-main {
	width: 55%;
}

/*this class is for the content-center div 
on the user pages 
since there only will be the content-left div*/
.center-user {
	width: 77.5%;
}

.content-border {
	border: solid 1px #476b6b;
}

.content {
	width: 98%;
	/*background-color: white;*/
	min-height: 500px;
	color: #000000;
	margin: 10px 1% 10px 1%;
}

.aside {
	width: 22.5%;
	float: left;
}

/* Footer
--------------------------------------------- */
#footer {
	width: 98%;
	background-color: #476b6b;
	background-image: url(/image/hexagon.png);
	color: #ffffff;
	float: left;
	text-align: center;
	height: 60px;
	padding: 1%;
}

/* General Styles
--------------------------------------------- */
p {
	float: left;
}
.left {
	float: left;
}
.right {
	float: right;
}

/* Header
--------------------------------------------- */
#header {
	height: 90px;
	background-color: #476b6b;
	background-image: url(/image/hexagon.png);
}
.header-content {
	height: 90px;
	width: 100%;
}
#title {
	font-size: 35px;
	color: #ffffff;
	height: 90px;
	width: 90%;
	float: left;
}
.title {
	padding-left: 30px;
	padding-top: 25px;
}
#menu-button {
	width: 10%;
	height: 90px;
	background-color: #476b6b;
	text-align: right;
	display: block;
	float: left;
}
#menu-button ul{
	margin-top: 20px;
	margin-right: 10px;
}
#menu-button ul li a{
	color: #ffffff;
	cursor: pointer;
}
#menu-button ul li {
	color: #ffffff;
}

/* Headings
--------------------------------------------- */
h1,h2,h3,h4,.h1,.h2,.h3,.h4 {
	font-family: inherit;
	font-weight: 700;
	line-height: 1.2;
	color: inherit;
}
h1,.h1 {
	font-size: 36px;
}
h2,.h2 {
	font-size: 30px;
}
h3,.h3 {
	font-size: 24px;
}
h4,.h4 {
	font-size: 18px;
}

/* Images
--------------------------------------------- */
img {
	float: left;
	border: 0;
}
.img-right{
	margin-right: 5px;
}
.img-left {
	margin-left: 5px; 
}
.img-side{
	width: 100%;
	height: 100%;
}

/* Input
--------------------------------------------- */
textarea {
	height: 70px;
	resize: none;
	width: 100%;
}
input {
	font-family: Verdana;
	font-size: 14px;
	width: 100%;
}


/* Links
--------------------------------------------- */
a {
	color: #476b6b;
	background-color: transparent;
	text-decoration: none;
	font-weight: bold;
}
a:active,a:hover {
	outline: 0;
	color: #000000;
}
a:hover,a:focus {
	text-decoration: underline; 
}
a:focus {
	outline: thin dotted;
	outline: 5px auto focus-ring-color;
	outline-offset: -2px;
}

/* Tables
--------------------------------------------- */
table {
	background-color:transparent;
	border-collapse: collapse;
	border-spacing: 0;
}
td,th {
	padding: 0;
}

/*@media all and (max-width: 1000px) {
	#content-left {
		display: none;
	}

	#content-right {
		display: none;
	}

	#content-center {
		width: 100%;
	}
}*/

@media all and (max-width: 981px) {
	.left-main {
		display: none;
	}

	.right-main {
		display: none;
	}

	.center-main {
		width: 100%;
	}

}
/*@media all and (max-width: 768px) {
	#content-left {
		display: none;
	}

	#content-right {
		display: none;
	}

	#content-center {
		width: 100%;
	}
}*/