/*All classes background color*/
.middle h3{
	background-color: #476b6b;
	color: white;
	pointer-events: none;
}
.middle th{
	background-color: #476b6b;
	color: white;
	text-align: left;
	padding-left: 1%;
	border-bottom: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	pointer-events: none;
}
.classTd{
	background-color: black;
}

table{
	width: 98%;
	margin: 1%;
}

.courseStyles {
	border: 1px solid #476b6b;
	width: 100%;
	background-color: #ffffff;
	margin: 1px;

}

tr td{
	padding: 5px;
	height: 40px;
	/*border-right: 1px solid #476b6b;*/
}

.turnedIn{
	background-color: grey;
	pointer-events: none;
}

.graded{
	background-color: #476b6b;
	pointer-events: none;
}

.courseStyles:hover{
	cursor: pointer;
	background-color: #476b6b;
	color: #ffffff;
}